<%= form_with(model: gallery) do |form| %>
  <% if gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
        <% gallery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :spceis_name %>
    <%= form.text_field :spceis_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_area :link %>
  </div>

  <div class="field">
    <%= form.label :sort_number %>
    <%= form.number_field :sort_number %>
  </div>

  <div class="field">
    <%= form.label :image_link %>
    <%= form.text_field :image_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
